@mixin boxShadow($value) {
    box-shadow: $value;
    -moz-box-shadow: $value;
    -webkit-box-shadow: $value;
    -o-box-shadow: $value;
    -ms-box-shadow: $value;
}
@mixin borderRadius($value) {
    border-radius: $value;
    -moz-border-radius: $value;
    -webkit-border-radius: $value;
    -o-border-radius: $value;
    -ms-border-radius: $value;
}

@mixin transition($value) {
    transition: $value;
    -moz-transition: $value;
    -webkit-transition: $value;
    -o-transition: $value;
    -ms-transition: $value;
}
@mixin transform($value) {
    transform: $value;
    -moz-transform: $value;
    -webkit-transform: $value;
    -o-transform: $value;
    -ms-transform: $value;
}
@mixin animation($value) {
    animation: $value;
    -moz-animation: $value;
    -webkit-animation: $value;
    -o-animation: $value;
    -ms-animation: $value;
}
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}
// 
@mixin breakpoint($point){
    @if $point == mobile {
        @media screen and (max-width: 320px) {
            @content;
        }
    }
        @else if $point == tablet {
            @media screen and (max-width: 998px) {
                @content;
            }
        }
    @else if $point == laptop {
        @media screen and (max-width: 768px) {
            @content;
        }
    }
    @else if $point == desktop {
        @media screen and (max-width: 1224px) {
            @content;
        }
    }
    @else if $point == largescreens {
        @media screen and (max-width: 1824px) {
            @content;
        }
    }
}