$colors: (
   skyblue : #dcf1f3,
   turquoise : #4fbbc5,
   darkblue : #1c083b,
   grey : #f5f5f5,
   darkgrey : #dddddd,
   dark: #666,
   white: #fff,

);
$font-weight: (
   'regular' : 400,
   'medium': 500,
   'bold': 700,
);
$font-size: (
   'headline' : 2rem,
   'subheadline' :1.7rem,
   'paragraph': 1.4rem,
   'topmenu-small': 1rem,
)